<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Grand Coffee</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
      <!-- style css -->
      <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
      <!-- fevicon -->
      <link rel="icon" href="{% static 'images/fevicon.png' %}" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{% static 'css/jquery.mCustomScrollbar.min.css' %}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <!-- owl stylesheets -->
      <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
      <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        function funrm(){
        alert('Product removed')
        }
    </script>
</head>

<body>
      <nav class="navbar navbar-expand-lg navbar-light fixed-top " style="background-color: rgb(38, 29, 29);">
    <div class="container-fluid">
      <img src="{% static 'grand cof1.png' %}" height="60px" width="220px" alt="" style="margin-left: 80px;" >



      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" style="color: white;margin-left: 50px;">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: white;margin-left: 30px;">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" style="color: white;margin-left: 30px;">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:8000/ecommerceapp/prof/" style="color: white;margin-left: 30px;">Back</a>
          </li>
            <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="margin-left:50px;height:50px;">
          <button class="btn btn-outline-success" type="submit" style="height:50px;width:80px;">Search</button>
        </form>
            <li class="nav-item">


                <h5 style="display:inline;color:white;margin-left:30px;">{{idd2.sname}}</h5>
            <p style="display:inline;margin-left:80px;"><img src="/static/{{img1}}" alt="" height="30px" width="30px" style="border-radius: 10px;"></p>
          </li>

        </ul>


      </div>
    </div>
  </nav>

            <h5 style="display:inline;margin-left:1250px;">{{idd2.sname}}</h5>
            <p style="display:inline;"><img src="/static/{{img1}}" alt="" height="30px" width="30px" style="border-radius: 10px;"></p>



<div class="container-fluid" >
            <div class="row" style="float: left;margin-left: 100px;margin-top: 50px;">
    {% for i,j,k,l,o,p in data %}


            <div class="col-4" style="margin-top: 30px;">
                <div class="card" style="width: 18rem;height:510px;" >
                    <img src="{% static i %}" class="card-img-top" alt="..." style="height:140px;width:288px;">
                    <div class="card-body">
                        <h5 class="card-title">{{j}}</h5>

                        <p class="card-text">{{l}}</p>
                        <p style="display: inline;">Category :</p>
                        <p style="display: inline;">{{p}}</p><br><br>
                        <p style="display: inline;">Price:</p>
                        <p style="display: inline;" class="card-text">{{k}}</p><br><br>
                        <center>
                        <a href="http://127.0.0.1:8000/ecommerceapp/productedit/{{o}}" class="btn btn-primary" style="width: 80px;">Edit</a>
                        <a href="http://127.0.0.1:8000/ecommerceapp/product_delete/{{o}}" class="btn btn-primary" onclick="funrm()">Remove</a><br>
                        </center>
                    </div>
                </div>

            </div>




    {% endfor %}
            </div>
     </div>


   <center>
   <a href="" class="btn" style="border: 1px black solid;margin-top: 80px;"><< Prev</a>
   <a href="" class="btn" style="border: 1px black solid;margin-top: 80px;">1</a>
   <a href="" class="btn" style="border: 1px black solid;margin-top: 80px;">2</a>
   <a href="" class="btn" style="border: 1px black solid;margin-top: 80px;">Next>></a>
</center>
<div class="footer_section layout_padding" style="margin-top:50px;">
         <div class="container">
            <div class="row">
               <div class="col-lg-3 col-sm-6">
                  <h3 class="useful_text">About</h3>
                  <p class="footer_text">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation u</p>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h3 class="useful_text">Menu</h3>
                  <div class="footer_menu">
                     <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h1 class="useful_text">Useful Link</h1>
                  <p class="dummy_text">Adipiscing Elit, sed do Eiusmod Tempor incididunt </p>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h1 class="useful_text">Contact Us</h1>
                  <div class="location_text">
                     <ul>
                        <li>
                           <a href="#">
                           <i class="fa fa-map-marker" aria-hidden="true"></i><span class="padding_left_10">Address : Loram Ipusm</span>
                           </a>
                        </li>
                        <li>
                           <a href="#">
                           <i class="fa fa-phone" aria-hidden="true"></i><span class="padding_left_10">Call : +01 1234567890</span>
                           </a>
                        </li>
                        <li>
                           <a href="#">
                           <i class="fa fa-envelope" aria-hidden="true"></i><span class="padding_left_10">Email : demo@gmail.com</span>
                           </a>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- footer section end -->
      <!-- copyright section start -->
      <div class="copyright_section">
         <div class="container">
            <p class="copyright_text">2020 All Rights Reserved<a href="https://html.design"></a></p>
         </div>
      </div>
      <!-- copyright section end -->
      <!-- Javascript files-->
      <script src="{% static 'js/jquery.min.js' %}"></script>
      <script src="{% static 'js/popper.min.js' %}"></script>
      <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
      <script src="{% static 'js/plugin.js' %}"></script>
      <!-- sidebar -->
      <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
      <script src="{% static 'js/custom.js' %}"></script>



</body>

</html>